.navbar{
    /* flex 박스로 만들어준다 */
    display: flex;

    /* 옆으로 정렬 및 중간 스페이스를 가능하게 해줌 
    space-between은 컨텐츠 사이에 중간중간 스페이스를 넣어주는 역할을 한다.
    현재 있는 축(수평)에서 정렬을 하려면 justify-content를 사용하면 됩니다.*/
    justify-content: space-between;

    /* 수직으로 정렬.
    현재 주어진 축과 반대방향으로 적용(수직)*/
    align-items: center;

    /* 색상 */
    background-color: rgb(0, 0, 0);

    /* 전체적으로 붙어있는 모서리에 pading 주기 */
    padding: 8px 12px;
    /*     위아래 양옆 */
}

/*  원하지 않는 공백 삭제 */
body{
    margin: 0;
    font-family: 'Secular One', sans-serif;
}

/* 태그에 텍스트 밑줄과 색상 존재
text-decoration으로 없애기 */

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* 로고 사이즈 및 색상 조절 */
.navbar_logo{
    font-size: 24px;
    color: #d49466;    
}

/* navbar_menu를 flex박스로 변경 */
.navbar_menu{
    display: flex;

    /* list목록으로 되어있어서 앞에 붙은 목록 구분 표시 없애기  */
    list-style: none;

    /* 메뉴의 센터맞춰주기 - pading 적용 */
    padding-left: 0;
}

/* 메뉴들 간 스페이스 주기 */
.navbar_menu li{
    padding: 8px 12px;
}

/* link icon의 스타일 지정
   목록 스타일 제거 후 스타일 지정 */
.navbar_icons{
    color: rgb(255, 255, 255);
    list-style: none;
    display: flex;
    padding-left: 0;
}

/* 아이콘들간의 간격 주기 */
.navbar_icons li{
    padding: 8px 12px;
    font-size: 18px;
   
}

/* 메뉴에 마우스를 올렸을 때 색깔 변경하기 */
.navbar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}
/* 원래 문서의 흐름이 아닌 지정된 위치에 두기 */
.navbar_togleBtn{
    font-size: 24px;
    position: absolute;
    right: 40px;
    color: #d49466;

    /* 아이콘이 기본으로는 안보이도록 설정 */
    display: none;

}

/*  반응형 웹사이트로 만들기 위해 크기가 일정정도 작아졌을 때 다르게 적용할 스타일은 정한다
    미디어 쿼리를 사용한다 */
@media screen and (max-width: 770px) {
    /* 바깥쪽에 있는 .navbar를 row에서 column으로 바꾸기 */
    .navbar{
        flex-direction: column;

        /* 여유공간을 주기 위한 padding */
        padding: 8px 24px;
    }

    /* 메뉴 목록도 아래로 정렬 */
    .navbar_menu{
        flex-direction: column;

        /* 반대축 아이템을 사용해서 center 맞춰주기 */
        align-items: center;

        /* width 적용 */
        width: 100%;
        display: none;
    }    
    /* 메뉴에 마우스를 올렸을 때 전체 너비 만큼 하이라이트 주기 */
    .navbar_menu li:hover{
        width: 100%;
        text-align: center;
    }
    /*  icon의 현 상태에서 중간으로 가도록 설정해주기*/
    .navbar_icons{
        /* 현재 축에서 중간으로 이동 */
        justify-content: center;

        /* 너비를 전체로 설정 */
        width: 100%;
        display: none;
    }
    /* 없어졌던 토글버튼 다시 보이게 하기 */
    .navbar_togleBtn{
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }

}